<h2>Lista personaje</h2>

<button (click)="pedirAnterior()" [disabled]="!(datos && datos.previous)">Anterior</button>
<button (click)="pedirSiguiente()" [disabled]="!(datos && datos.next)">Siguiente</button>


<table border=1.5px>
    <thead>
        <th>Nombre</th>
        <th>Altura</th>
        <th>Peso</th>
        <th>Nacimiento</th>
        <th>Genero</th>
        <th>Planeta</th>
    </thead>
    <tbody>
        <tr *ngFor="let p of personaje">
            <td>{{p.name}}</td>
            <td>{{p.height}}</td>
            <td>{{p.mass}}</td>
            <td>{{p.birth_year}}</td>
            <td>{{p.gender}}</td>
            <td><a (click)="mostrarDatosPlaneta(p.homeworld, $event)" href="{{p.homeworld}}?format=json"> {{p.homeworld}}</a></td>
        </tr>
    </tbody>
</table>
<div *ngIf="datosPlaneta">
    <app-planeta [planeta]="datosPlaneta"> </app-planeta>
</div>